/*fonte nav e footer*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
/*Fonte main*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    /* CSS RESET*/
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}
hr {
    border: 1px solid rgb(77, 77, 77);
    background-color: rgb(77, 77, 77);

}
nav {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    position: fixed;
}
nav, h2 , footer{
    font-family: 'Roboto Condensed', sans-serif;
}
#nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#menu-select {
    /*Menu de seleção*/
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-link {
    color: #ffffff;
    text-decoration: none;
}
/*Hover animation to menu-select*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
#logo-uni {
    /*Logo da universidade*/
    width: 50%;
}
main {
    /*Conteúdo principal*/
    margin: auto;
    padding-bottom: 50px;
    width: 70%;
    font-family: 'PT Serif', serif;
    text-align: justify;
}
#banner {
    padding: 110px 0 20px;
    /*Centralizar a imagem*/
    display: flex;
    justify-content: center;
    align-items: center;
}
ol li{
    list-style: decimal inside;
    text-indent: 20px;
}
footer {
    /*Todos os direitos reservados.*/
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}